.pic1 {
  display: inline-block;
  padding: 10px;
  background-color: black;
}
.pic2 {
    display: inline-block;
    padding: 10px;
    background-color: black;
  }
  .pic3 {
    display: inline-block;
    padding: 10px;
    background-color: black;
  }
  .pic4 {
    display: inline-block;
    padding: 10px;
    background-color: black;
  }
  .pic5 {
    display: inline-block;
    padding: 10px;
    background-color: black;
  }
  .pic1 {
    display: inline-block;
    padding: 10px;
    background-color: black;
  }